# Python
__pycache__/
*.pyc
*.pyo

# Model checkpoints (too large for GitHub)
results/*.pth
results/*.png

# Large datasets (users download themselves)
data/fer_train.csv
data/fer_val.csv
data/fer_test.csv
data/ck_test.csv
archive/
ckplus_data/
ckplus_images/

# OS
.DS_Store
.ipynb_checkpoints/
